<div class="container relative flex flex-col md:justify-center my-auto p-6 md:h-[75vh] text-cyan-500">
    <div class="mb-16 h-1/4">
        <h1 class="py-3 text-4xl">What do I even do?</h1>
        <p class="py-3 text-xl">I offer a variety of web services in the Austin and Houston Greater Areas, including website development, maintnence, or whatever else you need to improve your business through the web.</p>
    </div>
    <div class="mb-16 h-1/4">
        <h1 class="py-3 text-4xl">Why am I different from any other freelancer or webiste builder?</h1>
        <p class="py-3 text-xl">I have a genuine passion for web design, computer science and business. As I do whatever service is asked of me, I will be motivated to provide the best possible product or service because I actually enjoy doing so, not just for a paycheck.</p>
    </div>
</div>