---
import Navbar from '../components/Navbar.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/Favicon.png" />
		<title>Wyatt Wilson Web Development</title>
		<meta name="description" content="Website Design and Development in the Austin and Houston Greater Areas"
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" rel="stylesheet">
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	* {
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		font-family: Inter, sans-serif;
	}
</style>
